:root {
    --primary-color:
    --secondary-color:
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(./assets/starry\ night2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: flex-start;
    padding: 1rem;
    background: rgb(170, 236, 236, .2);
    box-shadow: .5rem .5rem 3rem 1rem black;
}
.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
img {
    width: 200px;
    margin-left: 3rem;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    scale: 1.1;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 85vh;
}

.card {
    margin: auto 4rem;
    height: 35rem;
    width: 25rem;
    background: rgb(170, 236, 236, .2);
    border-radius: 1rem;
    box-shadow: .5rem .5rem 3rem 1rem black;
}

.card:hover {
    scale: 1.1;
    transition: 200ms ease-in;
}

.card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 600;
}

.card-info img {
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
}



.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 75%;
    margin: auto 0;
    background: rgb(170, 236, 236, .2);
    border-radius: 1rem;
    box-shadow: .5rem .5rem 3rem 1rem black;
}

#random-quote {
    text-align: center;
    margin: 2rem 0;
    line-height: 4rem;
    font-family: 'Fasthand', serif;
    font-size: 2rem;
    padding: 1rem;
    max-width: 75%;
    max-height: 75%;
}
#btn-quote {
    margin-bottom: 2rem;
    width: 8rem;
    height: 3rem;
    background: rgba(93, 201, 201, 0.8);
    border: none;
    border-radius: .5rem;
    box-shadow: .25rem .25rem 3rem .25rem rgb(41, 40, 40);
    font-size: 1rem;
    font-weight: 800;
    
}
#btn-quote:hover {
    scale: 1.1;
    transition: 200ms ease-in-out;
}


.contactMain {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  5rem auto;
    height: 40rem;
    width: 50%;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 3rem 1rem black;
}

.contactMain:hover {
    scale: 1.03;
    transition: 200ms ease-in;
}

footer {
    display: flex;
    justify-content: center;
}